In [1]:
import pandas as pd
from langchain.chat_models import ChatOpenAI
from langchain.agents import create_pandas_dataframe_agent
from langchain.agents.agent_types import AgentType

In [2]:
input_csv = "../Docs/idb_ops_data.csv"

In [3]:
df = pd.read_csv(input_csv)

In [12]:
df2 = df[['ops_data_ID', 'operation_id', 'project_code', 'project_title',
       'profile', 'country', 'fund', 'is_member_country',
       'country_code', 'country_ldmc', 'country_class', 'country_region',
       'sector', 'status', 
       'main_mode_of_finance', 'sub_mode_of_finance', 
       'date_of_approval', 'date_of_signature', 
       'date_of_effective', 'date_of_first_disb',
       'date_of_last_disb', 
       'approval_amt_usd',  'disb_amt_usd'
       ]].sample(100)

In [14]:
llm = ChatOpenAI(model_name='gpt-3.5-turbo-0613', temperature=0.2)

In [16]:

agent = create_pandas_dataframe_agent(llm, df2, 
                                      verbose=True, 
                                      agent_type=AgentType.OPENAI_FUNCTIONS)
  # Perform Query using the Agent

In [25]:
input_query = "What percentage of projects each year are in LDMC countries?"

response = agent.run(input_query)

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `df['date_of_approval'] = pd.to_datetime(df['date_of_approval'])`



Invoking: `python_repl_ast` with `df['year'] = df['date_of_approval'].dt.year`



Invoking: `python_repl_ast` with `ldmc_projects = df[df['country_ldmc'] == 'LDMC']`



Invoking: `python_repl_ast` with `total_projects = df.groupby('year').size()`



Invoking: `python_repl_ast` with `ldmc_projects_percentage = ldmc_projects.groupby('year').size() / total_projects * 100`



Invoking: `python_repl_ast` with `ldmc_projects_percentage`


year
1977           NaN
1981    100.000000
1982    100.000000
1986           NaN
1987     66.666667
1989           NaN
1990     66.666667
1993     66.666667
1995           NaN
1996     25.000000
1997     33.333333
1998     33.333333
1999     50.000000
2000           NaN
2001     66.666667
2002    100.000000
2003           NaN
2004           NaN
2005     33.333333
2006           NaN
2007     50.000000
2008     20.000000
2009           NaN
2010     16.666667
2011           NaN
2012     40.000000
2013           NaN
2014     25.000000
2015           NaN
2016     40.000000
2017     66.666667
2019     33.333333
2020    100.000000
2021     50.000000
2022     40.000000
dtype: float64The percentage of projects in LDMC countries each year is as follows:

- 1977: NaN
- 1981: 100.000000%
- 1982: 100.000000%
- 1986: NaN
- 1987: 66.666667%
- 1989: NaN
- 1990: 66.666667%
- 1993: 66.666667%
- 1995: NaN
- 1996: 25.000000%
- 1997: 33.333333%
- 1998: 33.333333%
- 1999: 50.000000%
- 2000: NaN
- 2001: 66.666667%
- 2002: 100.000000%
- 2003: NaN
- 2004: NaN
- 2005: 33.333333%
- 2006: NaN
- 2007: 50.000000%
- 2008: 20.000000%
- 2009: NaN
- 2010: 16.666667%
- 2011: NaN
- 2012: 40.000000%
- 2013: NaN
- 2014: 25.000000%
- 2015: NaN
- 2016: 40.000000%
- 2017: 66.666667%
- 2019: 33.333333%
- 2020: 100.000000%
- 2021: 50.000000%
- 2022: 40.000000%

> Finished chain.

In [26]:
print(response)

The percentage of projects in LDMC countries each year is as follows:

- 1977: NaN
- 1981: 100.000000%
- 1982: 100.000000%
- 1986: NaN
- 1987: 66.666667%
- 1989: NaN
- 1990: 66.666667%
- 1993: 66.666667%
- 1995: NaN
- 1996: 25.000000%
- 1997: 33.333333%
- 1998: 33.333333%
- 1999: 50.000000%
- 2000: NaN
- 2001: 66.666667%
- 2002: 100.000000%
- 2003: NaN
- 2004: NaN
- 2005: 33.333333%
- 2006: NaN
- 2007: 50.000000%
- 2008: 20.000000%
- 2009: NaN
- 2010: 16.666667%
- 2011: NaN
- 2012: 40.000000%
- 2013: NaN
- 2014: 25.000000%
- 2015: NaN
- 2016: 40.000000%
- 2017: 66.666667%
- 2019: 33.333333%
- 2020: 100.000000%
- 2021: 50.000000%
- 2022: 40.000000%

In [23]:
df2['date_of_approval'] = pd.to_datetime(df2['date_of_approval'])

df2['year_of_approval'] = df2['date_of_approval'].dt.year

df_last_10_years = df2[df2['year_of_approval'] >= df2['year_of_approval'].max() - 9]

df_last_10_years.groupby(['country_region', 'year_of_approval'])['approval_amt_usd'].sum().reset_index()

   country_region  year_of_approval  approval_amt_usd
0          Africa              2015       86874492.68
1          Africa              2016        5018767.66
2          Africa              2019       95973000.00
3          Africa              2020          40000.00
4          Africa              2021       29750000.00
5          Africa              2022       16447713.87
6            Arab              2014        8110000.00
7            Arab              2016       16657140.94
8            Arab              2017          12000.00
9            Arab              2019       43220000.00
10           Arab              2020        6070000.00
11           Arab              2022       91399914.74
12           Asia              2014       20000000.00
13           Asia              2016         100000.00
14           Asia              2017         280000.00
15           Asia              2021       19934943.87
16         Europe              2019       11021955.74
17  Latin America              2019          22000.00

In [24]:
import pandas as pd
import numpy as np

# Convert date_of_approval to datetime
df['date_of_approval'] = pd.to_datetime(df['date_of_approval'])

# Extract year from date_of_approval
df['year'] = df['date_of_approval'].dt.year

# Create is_ldmc column
df['is_ldmc'] = np.where(df['country_ldmc'] == 'LDMC', 1, 0)

# Group by year and calculate sum of is_ldmc
ldmc_projects = df.groupby('year')['is_ldmc'].sum()

# Calculate total number of projects for each year
total_projects = df.groupby('year').size()

# Calculate percentage of projects in LDMC countries
percentage_ldmc = (ldmc_projects / total_projects) * 100

# Print the result
print(percentage_ldmc)

year
1976     0.000000
1977    72.222222
1978    66.666667
1979    58.823529
1980    46.153846
1981    72.222222
1982    61.363636
1983    57.142857
1984    56.164384
1985    45.945946
1986    39.062500
1987    53.125000
1988    44.537815
1989    42.452830
1990    33.057851
1991    26.829268
1992    26.041667
1993    33.793103
1994    25.274725
1995    29.203540
1996    30.827068
1997    31.343284
1998    33.888889
1999    31.515152
2000    38.823529
2001    34.615385
2002    35.672515
2003    46.391753
2004    34.862385
2005    33.980583
2006    27.312775
2007    33.200000
2008    29.431438
2009    30.463576
2010    29.310345
2011    22.658610
2012    34.876543
2013    28.956229
2014    34.558824
2015    38.062284
2016    42.127660
2017    40.000000
2018    41.592920
2019    37.906137
2020    52.040816
2021    42.777778
2022    51.265823
2023    50.000000
dtype: float64